<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EzPlace Network - Minecraft Network</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="assets/images/icon.ico">
    <script src="js/htmx.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>      
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <img src="assets/images/icon.webp" alt="EzPlace Network logo">
                <span>EzPlace Network</span>
            </div>
    
            <div class="nav-links">
                <a href="#about" class ="nav-link">About this server</a>
                <a href="#projects" class ="nav-link">Our projects</a>
                <a href="#shop" class ="nav-link">Shop</a>
                <a href="https://maps.ezplace.net" class ="nav-link">Survival Map</a>
            </div>
    
            <div id="auth-section" hx-get="/api/auth-status" hx-trigger="load">
                <!-- Auth status will load here -->
                <button id="login-btn" 
                        class="login-btn"
                        hx-get="/api/login-form" 
                        hx-target="#login-modal-content" 
                        hx-trigger="click" 
                        onclick="document.getElementById('login-modal').style.display='block'">
                            Login
                </button>
            </div>

            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>

    <div id="login-modal" class="modal">
        <div class="modal-content" id="login-modal-content">
            <!-- HTMX return -->
        </div>
    </div>

    <div id="read-more-modal" class="modal">
        <div class="modal-content" id="read-more-modal-content">
            <!-- HTMX return -->
        </div>
    </div>

    <main class="main-content">
        <section id="about" class="section-box">
            <h2>About This Server</h2>
            <div class="about-content">
                <div class="server-description">
                    <p>Welcome to EzPlace Network.<br> Ezplace Network is not only a platform
                        for connecting people, but also an experience. We are a team of
                        professionals who are passionate about what we do and give our
                        best to make your experience with us unforgettable.<br/> Join to
                        discover an unique RPG experience or a relaxing Survival adventure, where you can create your own
                        character, make friends, and explore the world of Ezplace
                        Network. We are here to make your dreams come true.</p>
                        <p>Join us with the following IP address : "play.ezplace.net"</p>
                    <button id="copy-ip" class="copy-btn" data-ip="play.ezplace.net">
                        Copy Server IP
                    </button>
                </div>
                <div class="server-stats" hx-get="/api/server-stats" hx-trigger="load" hx-swap="innerHTML">
                    <!-- Server stats HTMX -->
                </div>
            </div>
        </section>

        <section class="section-box">
            <h2>Latest Announcements</h2>
            <div class="announcement-container">
                <div class="announcement-media">
                    <!--
                    <img src="assets/images/announcements.avif" alt="Server Update Announcement">
                    <video> 
                        <source src="assets/videos/announcement.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    -->
                    <video controls preload="none" poster="assets/images/thumbnail.webp">
                        <source src="assets/videos/announcement.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="announcement-text">
                    <h3>EzPlace opens its doors!</h3>
                    <p>
                        We are officially opening our Survival and UHC game modes to all players! 
                        Join a vibrant mixed community, english and spanish, explore custom features, and take part in this first era of EzPlace. 
                        This is just the beginning... but, do you dare to discover our adventure?
                    </p>
                    <div id="read-more-section" class="read-more">
                        <a href="#" 
                           id="read-more-btn"
                           class="read-more-link"
                           hx-get="/api/read-more-form"
                           hx-target="#read-more-modal-content"
                           hx-trigger="click"
                           onclick="document.getElementById('read-more-modal').style.display='block'">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
        </section>

        

        <section id="projects" class="section-box">
            <h2>Our Projects</h2>
            <p>Here you can find some of our projects such as plugins,mods...</p>
            <br>
            <div class="projects-wrapper">
                <div class="projects-container">
                    <div class="project-item">
                        <div class="project-icon">
                            <img src="assets/images/avas.webp" alt="AVAS Project">
                        </div>
                        <div class="project-info">
                            <h3>A.V.A.S</h3>
                            <p>Anti Villager abuse system is a plugin made by andrewYernau to prevent people from abusing villagers trading system with rerolls.</p>
                            <a href="https://modrinth.com/plugin/antivillagerabusesystem" class="project-link">View Project</a>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="project-icon">
                            <img src="assets/images/ultimateblood.webp" alt="UltimateBlood Project">
                        </div>
                        <div class="project-info">
                            <h3>UltimateBlood</h3>
                            <p>UltimateBlood is a plugin made by andrewYernau implementing a fresh game mechanic about blood particles and bleeding effects.</p>
                            <a href="https://modrinth.com/plugin/ultimateblood" class="project-link">View Project</a>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="project-icon">
                            <img src="assets/images/librebuild.webp" alt="LibreBuild Project">
                        </div>
                        <div class="project-info">
                            <h3>LibreBuild</h3>
                            <p>LibreBuild introduces a legacy mechanic for all players—the power to instantly bring your dream house to life!</p>
                            <a href="https://modrinth.com/plugin/librebuild" class="project-link">View Project</a>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="project-icon">
                            <img src="assets/images/librebuild.webp" alt="DeathTime Project">
                        </div>
                        <div class="project-info">
                            <h3>DeathTime</h3>
                            <p>Tic tac! Every player now has a timer. Let it hit zero, and you're done for!</p>
                            <a href="https://modrinth.com/plugin/deathtime" class="project-link">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="project-image">
                    <img src="assets/images/andrew_waving.webp" alt="Andrew waving">
                </div>
            </div>
        </section>

        <div class="girl-image">
            <img src="assets/images/formato_vertical_girl_pose.webp" alt="Girl waving">
        </div>

        <section id="shop" class="section-box">
            <h2>Shop</h2>
            <div class="shop-container">
                <div class="shop-row">
                    <div class="shop-card">
                        <h3>Survival Ranks</h3>
                        <p class="price">$2.49-$14.99 per month</p>
                        <p class="rank-description">Get a Survival mode rank .</p>
                        <ul>
                            <li>Exclusive chat tags</li>
                            <li>Ability to create custom group chats</li>
                            <li>Ability to use color in chat</li>
                            <li>More home points</li>
                            <li>And more...</li>
                        </ul>
                        <a href="https://ezplace.tebex.io/category/survival-ranks" class="buy-btn">Go check all available ranks</a>
                    </div>
                    <!-- <div class="shop-card highlighted">
                        <div class="popular-tag">Most Popular</div>
                        <h3>NOBLE</h3>
                        <p class="price">$9.99</p>
                        <p class="rank-description">A rank for those seeking elegance and recognition in the realm.</p>
                        <ul>
                            <li>Exclusive chat tag [NOBLE]</li>
                            <li>Special recognition in public server eventst</li>
                            <li>5 home points</li>
                        </ul>
                        <a href="#" class="buy-btn highlight-btn">Become a noble</a>
                    </div> -->
                    <div class="shop-card">
                        <h3>Survival items and perks</h3>
                        <p class="price">$0.99-$4.99</p>
                        <p class="rank-description">Some items to enhance the experience.</p>
                        <ul>
                            <li>Mob effect potions</li>
                            <li>Extra homes</li>
                            <li>And more...</li>
                        </ul>
                        <a href="#" class="buy-btn">Go check all available items and perks</a>
                    </div>

                    <div class="shop-card">
                        <h3>Coming soon</h3>
                        <p class="price">TBA</p>
                        <p class="rank-description">We are working on a new game mode, and we will have a new store for it.</p>
                        <ul>
                            <li>Coming soon...</li>
                        </ul>
                        <a href="https://ezplace.tebex.io/category/itemsandperks" class="buy-btn">Stay tuned</a>
                    </div>
                    
                </div>
                <!-- <div class="shop-row">
                    <div class="shop-card">
                        <h3>BARD</h3>
                        <p class="price">$14.99</p>
                        <p class="rank-description">For lovers of music and stories, a rank full of style and creativity.</p>
                        <ul>
                            <li>Exclusive chat tag [BARD]</li>
                            <li>Access to a musical emote in chat (decorative musical notes)</li>
                            <li>Musical particle effects when moving</li>
                            <li>Exclusive log in and log out animations</li>
                        </ul>
                        <a href="#" class="buy-btn">Become a bard</a>
                    </div>
                    <div class="shop-card">
                        <h3>WANDERER</h3>
                        <p class="price">$1.99</p>
                        <p class="rank-description">For adventurers who want to leave a special mark on the world.</p>
                        <ul>
                            <li>Exclusive chat tag [WANDERER]</li>
                            <li>Access to bow aim skills</li>
                        </ul>
                        <a href="#" class="buy-btn">Become a wanderer</a>
                    </div>
                </div> -->
            </div>
            <br>
            <p>To see all the products we have available for you.</p>
            <br>
            <a href="https://ezplace.tebex.io" class="project-link">Go visit the store</a>
        </section>
    </main>

    <div id="pop-up-cookies" class="pop-up-cookies">
        <span class="close">&times;</span>
        <div class="pop-up-content">
            <h3>Cookie Policy</h3>
            <p>This website uses cookies to ensure you get the best experience on our website. By using our site, you agree to our use of cookies.</p>
            <button id="accept-cookies" class="accept-cookies-btn">Accept</button>
        </div>
    </div>
    
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>EzPlace Network</h3>
                <p>2025 EzPlace Network. Made by Andrewyernau</p>
            </div>
            <div class="footer-section">
                <h3>Links</h3>
                <ul>
                    <li>
                        <a 
                        hx-get="/api/terms" 
                        hx-target="#read-more-modal-content" 
                        hx-trigger="click" 
                        onclick="document.getElementById('read-more-modal').style.display='block'">
                            Terms of Service and Privacy policy
                        </a>
                        
                    </li>
                    <li>
                        <a 
                        hx-get="/api/cookies" 
                        hx-target="#read-more-modal-content" 
                        hx-trigger="click" 
                        onclick="document.getElementById('read-more-modal').style.display='block'">
                            Cookies Policy
                        </a>
                    </li>
                    <li>
                        <a 
                        hx-get="/api/contact" 
                        hx-target="#read-more-modal-content" 
                        hx-trigger="click" 
                        onclick="document.getElementById('read-more-modal').style.display='block'">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a 
                        hx-get="/api/community" 
                        hx-target="#read-more-modal-content" 
                        hx-trigger="click" 
                        onclick="document.getElementById('read-more-modal').style.display='block'">
                            Community
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Connect</h3>
                <div class="social-links">
                    <a href="https://discord.gg/939UecsD95" class="social-link">Discord</a>
                    <a href="https://ko-fi.com/andrewyernau/posts" class="social-link">KoFi</a>
                    <a href="https://www.youtube.com/@andrewyernau" class="social-link">YouTube</a>
                </div>
            </div>
        </div>
    </footer>

    <div id="scroll-top" class="scroll-top">
        <img src="assets/images/scroll-top.svg" alt="Scroll to Top">
    </div>
</body>
</html>